NEXT_PUBLIC_CONVEX_URL=
NEXT_PUBLIC_DASHBOARD_URL=http://localhost:3001/dashboard
NEXT_PUBLIC_MARKETPLACE_URL=http://localhost:3000
AUTH_SECRET=
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
